<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Donaciones para Rescate de Mascotas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="stroke">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/view/index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/register_donator.html">Registro de Donadores</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/list_donator.html">Listado de Donadores</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/find_contact.html">Buscar Contactos</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/register_accidents.html">Registro de Accidentes</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/register_vet.html">Registro de Veterinarias</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/info.html">Información</a></li>
            <li class="nav-item"><a class="nav-link" href="/view/contact.html">Contáctanos</a></li>
          </ul>
        </nav>
    </header>     
    <h1 class="text-center  mt-5">Formulario de Registro de Donador</h1>
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <form class="form" id="donationForm">
          <label id="errorAmount"></label>
          <label id="errorEmail"></label>
          <label id="errorPhone"></label>
          <br>
          <div class="container">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo electrónico</th>
                  <th scope="col">Número de teléfono</th>
                  <th scope="col">Cantidad a donar</th>
                  <th scope="col">Registrar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-6"><input type="text" id="name" placeholder="Ingrese su nombre" required/></td>
                  <td class="col-md-6"><input type="email" id="email" placeholder="Ingrese su correo electrónico" required/></td>
                  <td class="col-md-6"><input type="tel" id="phone" placeholder="Ingrese su número de teléfono" required/></td>
                  <td class="col-md-6"><input type="number" id="amount" placeholder="Ingrese la cantidad" required/></td>
                  <td class="col-md-6"><button type="button" id="registerButton" class="btn btn-primary">Registrar</button></td>
                </tr>
              </tbody>
            </table>
          </div>        
        </form>
      </div>
    </div>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({key: "AIzaSyA_AXAcaBZTMYYuJTGYIxQYMS5GUzkz708", v: "weekly"});</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../js/location.js"></script>
 
    <footer class="footer text-center mt-5">
      <div class="footer text-light">
        <a href="./view/info.html">Información</a>
        <a href="./view/contact.html">Contáctanos</a>
      </div>
    </footer> 

  </body>
</html>
